# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/

# Arduino
*.elf
*.hex
*.bin
build/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Docker volumes (local data)
server/influxdb-data/
server/grafana-data/
